<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF8">
	<title>TeamManager</title>
	<style>
		td {
			border: 2px black solid;
		}
	</style>
	<script src="/morari/admin/vendor/jquery/jquery.min.js"></script>


	<script>
		var url = window.location.href;
		var id = url.split("/").pop();
	</script>
	<script type="text/javascript">
		var njsdata;
		fetch('/morari/ProductCart/selectAllByUserId/' + id, { method: 'GET' }).then(
			function (response) {
				if (response.status != 200) {
					console.log(response.satus);
					return;
				}
				console.log(response);
				response.json().then(function (njs) {
					var tableData =
						"<th>產品名稱</th>" + "<th>產品價格</th>" +
						"<th>數量</th>" + "<th>照片</th>" +
						"<th>小計</th>";
					var total = 0;
					if (njs.length == 0) {
						alert("暫無希望購買的產品");
					} else {
						console.log(njs);
						njsdata = njs
						for (var i = 0; i < njs.length; i++) {
							var money = njs[i].pdprice * njs[i].ctqty
							total += money; // 累加money到total
							tableData +=
								"<tr>" +
								"<td>" + njs[i].pdname + "</td>" + "<td>" + njs[i].pdprice + "</td>" +
								"<td>" + njs[i].ctqty + "</td>" + "<td>" + njs[i].pdpicture + "</td>" +
								"<td style='text-align:right'>" + money + '$' + "</td>" +
								"</tr>"
						}
						tableData += "<tr><td colspan='4' style='text-align:right'>" + '總計' + total + '$' + "</td>" +
							"<td colspan='2'><input type='button' id='createOrder' value='提交訂單' onclick='createOrder(" + total + ")'></td></tr>" +
							"<form id='formnew'>" +
							"<input type='text' name='odrecipient' id='odrecipient'/>收件人名稱<br>" +
							"<input type='text' name='odrecipientphone' id='odrecipientphone'/>收件人電話<br>" +
							"<input type='text' name='odshippingaddress' id='odshippingaddress'/>收件地址<br>" +
							"</form>";
					}
					document.getElementById('result').innerHTML = tableData;
				});
			});
		function createOrder(total) {
			var odrecipient = $('#odrecipient').val();
			var odrecipientphone = $('#odrecipientphone').val();
			var odshippingaddress = $('#odshippingaddress').val();

			var headers = {
				"Content-Type": "application/json",
				"odrecipient": odrecipient,
				"odrecipientphone": odrecipientphone,
				"odshippingaddress": odshippingaddress,
				"money": total
			};
			var params = {
				"odrecipient": odrecipient,
				"odrecipientphone": odrecipientphone,
				"odshippingaddress": odshippingaddress,
				"money": total
			}
			if (odrecipient == 0) {
				alert('收件人未填寫');
				return;
			}
			if (odrecipientphone == 0) {
				alert('收件人電話未填寫');
				return;
			}
			if (odshippingaddress == 0) {
				alert('收件地址未填寫');
				return;
			}
			console.log(njsdata);
			// var data = {
			// 	 njsdata
			// };
			console.log(njsdata);

			let ttt = JSON.stringify(njsdata)
			console.log(typeof (headers))
			console.log(JSON.stringify(headers))
			console.log(headers)
			console.log(typeof (njsdata))
			console.log(njsdata)
			console.log(typeof (ttt))
			console.log(ttt)

			if (confirm("確定提交訂單?")) {



				$.ajax({
					url: '/morari/ProductOrder/create',
					type: 'post',
					headers: headers,
					data: JSON.stringify(njsdata),
					dataType: 'json',
					data: params,
					contentType: "application/json",
					success: function (response) {
						alert(response);
						location.reload();
					},
					error: function () {
						// 刪除失敗時的處理
						alert('執行失敗');
					}
				});
			} else {
			}
		}
	</script>

</head>

<body>
	<table id="result"></table>
</body>

</html>