<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <script src="guest/js/head.js"></script>
</head>

<body>
    <!-- Header Section Start -->
   <div class="header"></div>
    <!-- Header Section End -->

   

   
   
 
   
  
   

  
   

    <!-- Footer Section Start -->
   <div class="footer"></div>
    <!-- Footer Section End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


      <!-- Vendor JavaScript File -->
  <script src="guest/vendor/jquery/jquery.min.js"></script>
  <script src="guest/vendor/jquery/jquery-migrate.min.js"></script>
  <script src="guest/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="guest/vendor/easing/easing.min.js"></script>
  <script src="guest/vendor/stickyjs/sticky.js"></script>
  <script src="guest/vendor/superfish/hoverIntent.js"></script>
  <script src="guest/vendor/superfish/superfish.min.js"></script>
  <script src="guest/vendor/wow/wow.min.js"></script>
  <script src="guest/vendor/slick/slick.min.js"></script>
  <script src="guest/vendor/tempusdominus/js/moment.min.js"></script>
  <script src="guest/vendor/tempusdominus/js/moment-timezone.min.js"></script>
  <script src="guest/vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

  <!-- Booking Javascript File -->
  <script src="guest/js/booking.js"></script>
  <script src="guest/js/jqBootstrapValidation.min.js"></script>

  <!-- Main Javascript File -->
  <script src="guest/js/main.js"></script>
  <script src="guest/js/share.js"></script>
  
</body>

</html>