/* 登入框樣式 */

.container {

    position: relative;
    width: 300px;
    min-height: 300px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.863);
    border: 1px solid rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    margin-top: 10px;
}

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
}

/* 登入標題樣式 */

.form h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 1px;
    cursor: pointer;
}

/* 登入標題的下劃線樣式 */

.form h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0px;
    height: 3px;
    background: #fff;
    transition: 0.5s;
}

.form h2:hover:before {
    width: 53px;
}

.form .inputBox {
    width: 100%;
    margin-top: 20px;
}

.form .inputBox2 {
    width: 100%;
    margin-top: 10px;
}

/* 輸入框樣式 */

.form .inputBox input {
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
    border-radius: 130px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    font-size: 16px;
    vertical-align: middle;
    line-height: 0px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.199);
}

.form .inputBox2 input {
    width: 100%;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border: none;
    border-radius: 130px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    font-size: 14px;
    vertical-align: middle;
    line-height: 20px;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.199);
}

.form .inputBox input::placeholder {
    color: rgba(255, 255, 255, 0.568);
}

.form .inputBox2 input::placeholder {
    color: rgba(255, 255, 255, 0.582);
}

/* 登入按鈕樣式 */

/*.form .inputBox input[type="button"]*/
#Submit {
    background: rgba(255, 255, 255, 0.575);
    color: rgba(102, 102, 102, 1);
    max-width: 100px;
    margin-bottom: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}

.forget {
    margin-top: 6px;
    color: #fff;
    letter-spacing: 1px;
}

.forget a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

/* 錯誤訊息 */
#loginError {
    display: inline;
    font-size: 16px;
    color: rgb(255, 69, 69);
    /*     width: 1%; */
    /*     height: 1%; */


}

#joinError {
    display: inline;
    font-size: 16px;
    color: rgb(255, 69, 69);
    /*     width: 1%; */
    /*     height: 1%; */
    margin: 0;


}

#acok {
    margin: 0;
    float: right;
    display: none;
    color: green;
}

#acno {
    margin: 0;
    float: right;
    display: none;
    color: red;
}