<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>修改</title>
</head>

<body>
	<h3>修改</h3>
	<form id="update" enctype="multipart/form-data">
	
		會員編號 <input id="1" type="text" name="uid" value='1' required readonly><br>

		職缺 <input id="2" type="text" name="job" required><br>
		薪資 <input id="3" type="text" name="salary" required><br>
		人數 <input id="4" type="text" name="quantity" required><br>
		地點 <input id="5" type="text" name="place" required><br>
		可上班日期 <input id="6" type="text" name="date" required><br>
		可上班時段 <input id="7" type="text" name="time" required><br>
		備註<textarea id="8" name="remark" cols="20" rows="5"></textarea><br>

		<input id="send" type="button" value="送出"><br>
		<input type="reset" value="取消"><br>
	</form>

	<form id=img>
		照片上傳 <input accept=".jpg,.pnp,.jfif" type="file" name="img">
	</form>
	
	<form action="/morari/admin/work/crud.controller" method="GET">
		<input type="submit" value="回首頁">
	</form>
	<hr>
	
	<h3 id="su"></h3>
	<table id="showInsert"></table>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			var url = window.location.href;
			var id = url.split("/").pop();
			console.log(id);
			
			$.ajax({
				type: 'POST',
				url: '/morari/admin/work/selectRackId.controller/'+id,
				dataType: 'json',			
				success: function (data) {
// 					$('#1').val(data.uid);
					$('#2').val(data.job);
					$('#3').val(data.salary);
					$('#4').val(data.quantity);
					$('#5').val(data.place);
					$('#6').val(data.date);
					$('#7').val(data.time);
					$('#8').val(data.remark);
					
				}
			});
			$("#send").click(function () {
				function getFormData($form) {
					var unindexed_array = $form.serializeArray();
					var indexed_array = {};
					
					
					$.map(unindexed_array, function (n, i) {
						indexed_array[n['name']] = n['value'];
					});
					console.log(indexed_array);
					return indexed_array;
				}
// 				var uid = $("input[name='uid']").val();
// 				console.log(uid); 
				$.ajax({
					type: 'Post',
					url: '/morari/admin/work/jobUpdate.controller/'+id,
					contentType: 'application/json',
					data: JSON.stringify(getFormData($("#update"))),
					success: function (response) {
						$('#showInsert').empty("");
						$('#su').empty("");
						$('#update').empty("");
						$('#img').empty("");
						if (response == null) {
							$('table').prepend("<tr><td colspan='2'>暫無資料</td></tr>");
						} else {
							var h3 = $('#su');
							h3.prepend('修改成功');
							var table = $('#showInsert');
							table.append("<tr><th>會員編號</th><th>刊登編號</th><th>刊登時間</th><th>職缺</th><th>薪資</th><th>人數</th><th>地點</th><th>可上班日期</th><th>可上班時段</th><th>備註</th><th>照片</th></tr>");

						
							//$.each(response, function (i,n) { i=index 第幾個 n=element 元素
								console.log("response:"+response);
								var tr = "<tr align='center'>" + "<td>" + response.uid +"</td>"+"<td>" + response.rackid + "</td>" +  "<td>" + response.rackup + "</td>" + "<td>" + response.job + "</td>" + "<td>" + response.salary + "</td>" +
									"<td>" + response.quantity + "</td>" + "<td>" + response.place + "</td>" + "<td>" + response.date + "</td>" + "<td>" + response.time + "</td>" + "<td>" + response.remark + "</td>" + "<td>" + response.img + "</td>" +
									"</tr>";
								table.append(tr);
							//});
						}
					}
				});
			});
		});

	</script>
</body>

</html>