<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>修改</title>
	<script>
		window.onload = function () {
			const form = document.getElementById('update');

			form.addEventListener('submit', function (event) {
				event.preventDefault();

				const formData = new FormData(form);
				const pair = formData.get('pair');

				// 如果 radio 按鈕未選中，則將其值設置為 undefined
				if (!pair) {
					formData.set('pair', undefined);
				}
				const data = Object.fromEntries(formData);
				const json = JSON.stringify(data);

				fetch('/morari/team/updateMaterial.controller', {
					method: 'PUT',
					headers: {
						'Content-Type': 'application/json'
					},
					body: json
				})
					.then(function (response) {
						console.log(response);
						if (response.status == 200) {
							location.href = '/morari/team/teammanager.controller';
						}
					});
			});
		}

	</script>
</head>

<body>
	<h3>修改</h3>
	<form id="update">
		<input type="hidden" id="initiatingnum" name="initiatingnum"><br><input type="hidden" id="uid"
			name="uid">
		起始日期:<input type="date" id="startdate" name="startdate" required><br>
		結束日期:<input type="date" id="enddate" name="enddate" required><br>
		現有人數:<input type="text" id="currentnum" name="currentnum" onkeyup="value=value.replace(/[^\d]/g,'') " required
			placeholder="請輸入現有人數,僅限數字"><br>
		接受人數:<input type="text" id="acceptablenum" name="acceptablenum" onkeyup="value=value.replace(/[^\d]/g,'') "
			required placeholder="請輸入接受人數,僅限數字"><br>
		露營地點:<input type="text" id="camparea" name="camparea" required placeholder="請輸入露營地點"><br>
		配對狀態:<input type="radio" id="pair1" name="pair" value="0" checked>可配對
		<input type="radio" id="pair2" name="pair" value="1">不可配對<br>
		<button type="submit" id="send" value="Send">Send</button>
	</form>
	<script type="text/javascript">
		const urlParams = new URLSearchParams(window.location.search);
		const value1 = urlParams.get('dnum');
		const value2 = urlParams.get('pman');
		console.log(value1);
		console.log(value2);
		const inputElement1 = document.getElementById('initiatingnum');
		inputElement1.value = value1;
		const inputElement2 = document.getElementById('postmember');
		inputElement2.value = value2;
	</script>
</body>

</html>