<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <script src="/morari/guest/js/head.js"></script>
  <!-- sharepage 公用頁面 -->
  <script src="/morari/guest/js/share.js"></script>

</head>

<body style="display: none">
  <!-- Header Section Start -->
  <div class="header"></div>

  <!-- Header Section End -->






  <!-- 分離範例 -->
<!--   <div class="test"></div> -->
<!--   <script src="team/js/test.js"></script> -->

<h3>填寫簡歷</h3>

	<form id="insert" enctype="multipart/form-data">
	
		<input type="hidden" name="rackid" ><br>
		會員編號 <input type="text" name="uid" id="uid" required readonly><br>
		姓名 <input type="text" name="name" required><br>
		年次 <input type="text" name="age" required><br>
		性別 <input type="radio" name="gender" value="男" checked> 男
			<input type="radio" name="gender" value="女"> 女<br>
		email <input type="text" name="mail" required><br>
		電話 <input type="text" name="phone" required><br>
		學歷<textarea name="educational" cols="20" rows="5"></textarea><br>
		專業技能<textarea name="skill" cols="20" rows="5"></textarea><br>

		<input id="send" type="button" value="送出"><br>
		<input type="reset" value="取消"><br>
	</form>
	
	<form action="/morari/guest/work/workGuest.controller" method="GET"
		enctype="multipart/form-data">
		<input type="submit" value="回首頁">
	</form>
	<hr>
	
	<h3 id="su"></h3>
	<table id="showInsert"></table>




  <!-- Footer Section Start -->
  <div class="footer"></div>
  <!-- Footer Section End -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


  <!-- Vendor JavaScript File -->
  <script src="/morari/guest/vendor/jquery/jquery.min.js" ></script>
  <script src="/morari/guest/vendor/jquery/jquery-migrate.min.js" defer></script>
  <script src="/morari/guest/vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>
  <script src="/morari/guest/vendor/easing/easing.min.js" defer></script>
  <script src="/morari/guest/vendor/stickyjs/sticky.js" defer></script>
  <script src="/morari/guest/vendor/superfish/hoverIntent.js" defer></script>
  <script src="/morari/guest/vendor/superfish/superfish.min.js" defer></script>
  <script src="/morari/guest/vendor/wow/wow.min.js" defer></script>
  <script src="/morari/guest/vendor/slick/slick.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/moment.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/moment-timezone.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js" defer></script>

  <!-- Booking Javascript File -->
  <script src="/morari/guest/js/booking.js" defer></script>
  <script src="/morari/guest/js/jqBootstrapValidation.min.js" defer></script>

  <!-- Main Javascript File -->
  <script src="/morari/guest/js/main.js" defer></script>

<!-- 我自己的東西 -->
 <script type="text/javascript"></script>
 <script src="/morari/work/guestJs/resumeInsert.js" defer></script>

</body>

</html>