<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Select</title>
</head>
<body>
	<div>
		<form id="selectJob">

			<h3>查詢</h3>
			職缺:<select name="job">
				<option value="廚師">廚師</option>
				<option value="廚助">廚助</option>
				<option value="房務員">房務員</option>
				<option value="會計">會計</option>
				<option value="櫃台">櫃台</option>
				<option value="假日工讀生">假日工讀生</option>
				<option value="行政管理人員">行政管理人員</option>
				<option value="夜班保全">夜班保全</option>
				<option value="其他">其他</option>
			</select> <input type="submit" value="查詢">
		</form>
		<hr>

		<form id="selectUid">
			會員ID:<input type="text" name="uID" required> 
			<input type="submit" value="查詢">
		</form>

	</div>
	<hr>

	<form action="jobCRUD.controller" method="POST"
		enctype="multipart/form-data">
		<input type="submit" value="回首頁">
	</form>
</body>
</html>