<!DOCTYPE html>
<html lang="zh-TW">

<head>
	<script src="/morari/admin/js/head.js"></script>

	<!-- sharepage -->
	<script src="/morari/admin/js/share.js"></script>

	<style>
		td {
			border: 2px black solid;
		}
	</style>



	<script>
		// 拿取UID
		// let uid;
		fetch("/morari/utils/getuid")
			.then(response => response.text())
			.then(data => {
				// console.log(data)
				document.getElementById("userid").value = data;
			})

		function submitForm() {
			// 取得表單資料
			var formData = new FormData(document.getElementById("formnew"));
			var jsonData = {};
			for (var [key, value] of formData.entries()) {
				jsonData[key] = value;
			}
			$.ajax({
				type: 'post',
				url: '/morari/mall/create.controller',
				dataType: 'text',
				contentType: 'application/json',
				data: JSON.stringify(jsonData),
				success: function (data) {
					alert(data);
					window.location.href = "/morari/mall/productqueryallmain.controller";
				}
			});

		}
	</script>

</head>

<body id="page-top" style="display: none">

	<!-- Page Wrapper -->
	<div id="wrapper">
		<!-- sidebar -->
		<div class="sidebarshare"></div>
		<!-- sidebar end -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- topbar -->
				<div class="topbarshare"></div>
				<!-- topbar end -->

				<!-- Begin Page Content(開始主要內容區塊) -->
				<div class="container-fluid">

					<form id="formnew">
						<h3>新增產品</h3>
						<input type="text" value='' name="userid" id="userid" readonly>會員ID<br>
						<input type="text" value='測試用產品' name="pdname" id="pdname">產品名稱<br>
						<input type="text" value='測試用產品' name="pdtitle" id="pdtitle">品牌名稱<br>
						<input type="text" value='測試用產品' name="pdcontent" id="pdcontent">產品規格<br>
						<select name="pdtype">
							<option>測試用產品</option>
							<option>睡袋</option>
							<option>燈具</option>
							<option>桌椅</option>
							<option>火爐/炊具</option>
							<option>保冷箱</option>
							<option>登山包</option>
							<option>戶外服裝</option>
							<option>登山鞋</option>
							<option>其他</option>
						</select>產品類型<br>
<!-- 						<input type="file" value='測試用產品' name="pdpicture" /> -->
						<input type="text" value='測試用產品' name="pdpicture" />
						<br>
						<input type="text" value='' name="pdprice" onkeyup="value=value.replace(/[^\d]/g,'') " required
							placeholder="請輸入價位,僅限數字">價位<br>
						<input type="text" value='' name="pdinventory" onkeyup="value=value.replace(/[^\d]/g,'') "
							required placeholder="請輸入庫存數量,僅限數字">庫存數量<br> <br>
						<input type="button" value="提交" onclick="submitForm()">
					</form>
					<table id="result"></table>

				</div>
				<!-- /.container-fluid(結束主要內容區塊) -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div class="footershare"></div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="loginoutshare"></div>

	<script>
	
	function upload(e) {
        var file = e.files[0];
        if (!file) {
            return;
        }

        //檔案上傳
        //...
        //檔案上傳

        //上傳後將檔案清除
        e.value = '';
    }
	
		document.querySelector('input[type="file"]').addEventListener('change', function (event) {
			// 获取文件
			var file = event.target.files[0];

			// 发送请求到控制器
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/morari/uploadpicturetogoogle.controller');
			xhr.send(file);
			console.log(file);
// 			处理响应
			xhr.onreadystatechange = function () {
				if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
					// 获取响应数据
					var responseData = xhr.responseText;
					console.log(responseData);
					this.value = responseData;
				}
			};
		});
	</script>


	<!-- Bootstrap core JavaScript-->
	<script src="/morari/admin/vendor/jquery/jquery.min.js" defer></script>
	<script src="/morari/admin/vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>

	<!-- Core plugin JavaScript-->
	<script src="/morari/admin/vendor/jquery-easing/jquery.easing.min.js" defer></script>

	<!-- Custom scripts for all pages-->
	<script src="/morari/admin/js/sb-admin-2.min.js" defer></script>

	<!-- Page level plugins -->
	<script src="/morari/admin/vendor/chart.js/Chart.min.js" defer></script>

	<!-- Page level custom scripts -->
	<script src="/morari/admin/js/demo/chart-area-demo.js" defer></script>
	<script src="/morari/admin/js/demo/chart-pie-demo.js" defer></script>

</body>

</html>