#campershot {
    max-width: 250px;
    height: auto;
    aspect-ratio: 1/1;
 
}
#campershotdiv {
    max-width: 250px;
    aspect-ratio: 1/1;
    border: 0;
    border-radius: 100% !important;
    box-shadow: 0 0 10px;
}
.userpage-button {
    /* box-shadow: 0.7px 0.7px 3px; */
    color: rgb(61, 61, 61) !important;
    width: 130px;
    text-align: center;
}
.userpage-set {
    /* box-shadow: 0.7px 0.7px 3px; */
    color: rgb(61, 61, 61) !important;
    text-align: center;
}
.row-about {
    margin-top: 20px !important;
}
.room {
    margin-bottom: 10px !important;
}