<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <script src="/morari/guest/js/head.js"></script>
  <!-- sharepage 公用頁面 -->
  <script src="/morari/guest/js/share.js"></script>
</head>

<body style="display: none">
  <!-- Header Section Start -->
  <div class="header"></div>
  <!-- Header Section End -->
  <div class="wrapper">

    <!-- Amenities Section Start -->
    <div id="amenities">
      <div class="container">
        <div class="section-header">
          <h2>Amenities & Services</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in mi libero. Quisque convallis,
            enim at venenatis tincidunt.
          </p>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="item">
              <i class="icon icon-2"></i>
              <h3>Air Conditioner</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Amenities Section Start -->


    <!-- 分離範例 -->
    <!-- <div class="test"></div>
  <script src="/morari/camper/js/test.js"></script> -->






  </div>
  <!-- Footer Section Start -->
  <div class="footer"></div>
  <!-- Footer Section End -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


  <!-- Vendor JavaScript File -->
  <script src="/morari/guest/vendor/jquery/jquery.min.js"></script>
  <script src="/morari/guest/vendor/jquery/jquery-migrate.min.js" defer></script>
  <script src="/morari/guest/vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>
  <script src="/morari/guest/vendor/easing/easing.min.js" defer></script>
  <script src="/morari/guest/vendor/stickyjs/sticky.js" defer></script>
  <script src="/morari/guest/vendor/superfish/hoverIntent.js" defer></script>
  <script src="/morari/guest/vendor/superfish/superfish.min.js" defer></script>
  <script src="/morari/guest/vendor/wow/wow.min.js" defer></script>
  <script src="/morari/guest/vendor/slick/slick.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/moment.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/moment-timezone.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js" defer></script>

  <!-- Booking Javascript File -->
  <script src="/morari/guest/js/booking.js" defer></script>
  <script src="/morari/guest/js/jqBootstrapValidation.min.js" defer></script>

  <!-- Main Javascript File -->
  <script src="/morari/guest/js/main.js" defer></script>




</body>

</html>