<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <script src="/morari/guest/js/head.js"></script>
  <!-- sharepage 公用頁面 -->
  <script src="/morari/guest/js/share.js"></script>
</head>

<body style="display: none">
  <!-- Header Section Start -->
  <div class="header"></div>
  <!-- Header Section End -->
  <div class="wrapper">



    <!-- Amenities Section Start -->
    <div id="amenities">
      <div class="container">
        <div class="section-header">
          <h2>Amenities & Services</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in mi libero. Quisque convallis,
            enim at venenatis tincidunt.
          </p>
        </div>

        <form id="cityform" method="post">
          <table id="citytable"></table>
        </form>

        <hr>

        <div class="row" id="camprow"></div>

      </div>
    </div>
    <!-- Amenities Section Start -->


    <!-- 分離範例 -->
    <!-- <div class="test"></div>
  <script src="/morari/camper/js/test.js"></script> -->






  </div>
  <!-- Footer Section Start -->
  <div class="footer"></div>
  <!-- Footer Section End -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


  <!-- Vendor JavaScript File -->
  <script src="/morari/guest/vendor/jquery/jquery.min.js"></script>
  <script src="/morari/guest/vendor/jquery/jquery-migrate.min.js" defer></script>
  <script src="/morari/guest/vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>
  <script src="/morari/guest/vendor/easing/easing.min.js" defer></script>
  <script src="/morari/guest/vendor/stickyjs/sticky.js" defer></script>
  <script src="/morari/guest/vendor/superfish/hoverIntent.js" defer></script>
  <script src="/morari/guest/vendor/superfish/superfish.min.js" defer></script>
  <script src="/morari/guest/vendor/wow/wow.min.js" defer></script>
  <script src="/morari/guest/vendor/slick/slick.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/moment.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/moment-timezone.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js" defer></script>

  <!-- Booking Javascript File -->
  <script src="/morari/guest/js/booking.js" defer></script>
  <script src="/morari/guest/js/jqBootstrapValidation.min.js" defer></script>

  <!-- Main Javascript File -->
  <script src="/morari/guest/js/main.js" defer></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $(document).ready(function () {
        $.getJSON('/morari/admin/camp/indexShowAllCamp.controller', function (data) {

          var cityList = data["cityList"];
          var citytable = $('#citytable');
          var citys = '';
          var citytr = '';
          $.each(cityList, function (i, n) {
            citys += '<input type="checkbox" name="cityID" value="' + n.cityID + '" />' + n.cityName
          });
          citytr += '<tbody><tr><td><h3>縣市查詢營地資料:</h3></td><td></td><td>' + citys + '</td><td><input type="submit" value="查詢"><span id="errorcityIDs" style="color: red;"></span></td></tr></tbody>'
          citytable.append(citytr);

          $('#cityform').on('submit', function (e) {
            e.preventDefault();
            var checkboxValues = [];
            $('input[name="cityID"]:checked').each(function () {
              checkboxValues.push($(this).val());
            });
            var jsonData = JSON.stringify(checkboxValues);
            $.ajax({
              url: '/morari/admin/camp/queryCampsByCityIDs.controller',
              type: 'post',
              data: jsonData,
              dataType: 'json',
              contentType: 'application/json',
              success: function (QueryByCityIDsResult) {
                $("#errorcityIDs").empty();

                if (QueryByCityIDsResult.error == 'true') {
                  $("#errorcityIDs").append(QueryByCityIDsResult.cityIDs);
                  return;
                }
                else if (QueryByCityIDsResult.error == 'none') {
                  $(".row").empty();
                  $("#errorcityIDs").append(QueryByCityIDsResult.noData);
                  return;
                }
                else {
                  $(".row").empty();
                  var camprow = $('#camprow');
                  var p = '';

                  $.each(QueryByCityIDsResult, function (i, n) {
                    var tagNames = '';
                    n.tags.forEach(element => {
                      tagNames += element.tagName + ' /<br>'
                    });

                    p = '<div class="col-md-3 col-sm-6">'
                      + '<div class="item">'
                      + '<input type="hidden" value="' + n.campID + '">'
                      + '<h1 >' + n.campName + '</h1>'
                      + '<p class="p2">' + '<a href="#"><img width="100%" height="100%" src="' + n.campPicturesPath + '"></a></p>'
                      + '<p>' + n.city.cityName + '</p>'
                      + '<p>' + n.description + '</p>'
                      + '<p>' + n.location + '</p>'
                      + '<p>' + tagNames + '</p>'
                      + '</div>'
                      + '</div>'

                    camprow.append(p);
                  });
                }
              }
            });
          });

          var allCamps = data["allCamps"];
          var camprow = $('#camprow');
          var p = '';

          $.each(allCamps, function (i, n) {
            var tagNames = '';
            n.tags.forEach(element => {
              tagNames += element.tagName + ' /<br>'
            });

            p = '<div class="col-md-3 col-sm-6">'
              + '<div class="item">'
              + '<input type="hidden" value="' + n.campID + '">'
              + '<h1 >' + n.campName + '</h1>'
              + '<p class="p2">' + '<a href="#"><img width="100%" height="100%" src="' + n.campPicturesPath + '"></a></p>'
              + '<p>' + n.city.cityName + '</p>'
              + '<p>' + n.description + '</p>'
              + '<p>' + n.location + '</p>'
              + '<p>' + tagNames + '</p>'
              + '</div>'
              + '</div>'

            camprow.append(p);

          });
        });

        $('#camprow').on('click', '.p2', function () {
          var campID = $(this).prev().prev().val();
          sessionStorage.setItem("campID", JSON.stringify(campID));
          window.location.href = '/morari/camp/insertorders';
        });

      });
    });

  </script>

</body>

</html>