<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <script src="/morari/guest/js/head.js"></script>
  <!-- sharepage 公用頁面 -->
  <script src="/morari/guest/js/share.js"></script>
</head>

<body style="display: none">
  <!-- Header Section Start -->
  <div class="header"></div>
  <!-- Header Section End -->
  <div class="wrapper">




    <iframe src="/morari/camp/fullCalendar" scrolling="no" frameborder="0" width="800" height="500"
      style="margin: 0 auto; display: block;"></iframe>

    <hr>


    <!-- 分離範例 -->
    <!-- <div class="test"></div>
  <script src="/morari/camper/js/test.js"></script> -->






  </div>
  <!-- Footer Section Start -->
  <div class="footer"></div>
  <!-- Footer Section End -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


  <!-- Vendor JavaScript File -->
  <script src="/morari/guest/vendor/jquery/jquery.min.js"></script>
  <script src="/morari/guest/vendor/jquery/jquery-migrate.min.js" defer></script>
  <script src="/morari/guest/vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>
  <script src="/morari/guest/vendor/easing/easing.min.js" defer></script>
  <script src="/morari/guest/vendor/stickyjs/sticky.js" defer></script>
  <script src="/morari/guest/vendor/superfish/hoverIntent.js" defer></script>
  <script src="/morari/guest/vendor/superfish/superfish.min.js" defer></script>
  <script src="/morari/guest/vendor/wow/wow.min.js" defer></script>
  <script src="/morari/guest/vendor/slick/slick.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/moment.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/moment-timezone.min.js" defer></script>
  <script src="/morari/guest/vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js" defer></script>

  <!-- Booking Javascript File -->
  <script src="/morari/guest/js/booking.js" defer></script>
  <script src="/morari/guest/js/jqBootstrapValidation.min.js" defer></script>

  <!-- Main Javascript File -->
  <script src="/morari/guest/js/main.js" defer></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $(document).ready(function () {
        var campID = JSON.parse(sessionStorage.getItem("campID"));
        $.getJSON('/morari/admin/camp/sitesOfCamp.controller/' + campID, function (data) {
          var div = $('#div');
          var tmp = '';
          div.append('<div><span>營位編號</span><span>營位名</span><span>圖片</span><span>總營位</span><span>營位金額</span></div>');
          $.each(data, function (i, n) {
            tmp = '<div id="order' + n.siteID + '">'
              + '<span name="siteID">' + n.siteID + '<span class="errorsiteID" style="color: red;"></span></span>'
              + '<span>' + n.siteName + '</span>'
              + '<span>' + '<img width="80" height="100" src="/morari/images/' + n.sitePicturesPath + '">' + '</span>'
              + '<span>' + n.totalSites + '</span>'
              + '<span name="unitPrice">' + n.siteMoney + '</span>'
              + '<span name="numbers"><a href="#" class="btn btn-success btn-circle"><i class="fas fa-calculator"></i></a>預約數量:</span><input name="num" type="number" min="0" step="1" value="0"><span><span class="errornumbers" style="color: red;"></span>'
              + '</div>'
            div.append(tmp);

          });
          div.append('<span>入營時間:<input type="date" name="goingdate"></span>');
          div.append('<span>離營時間:<input type="date" name="leavingdate"><br>');
          div.append('<button id="addOrder" style="border:none;background-color:transparent" type="button"><span><a href="#" class="btn btn-primary btn-icon-split"><span class="icon text-white-50"><i class="fas fa-calculator"></i></span><span class="text">結帳</span></a></span></button><span id="errordate" style="color: red;"></span></button><span id="errornone" style="color: red;"></span>')


          $('span').css("margin", '20px');
          $('input').width(130);
        });


        $('body').on('click', '#addOrder', function () {
          let siteIds = [];
          let nums = [];
          let orderItems = $('div[id^="order"]');
          $.each(orderItems, function (index, orderItem) {
            let siteId = $($(orderItem).find('span[name="siteID"]').get(0)).text();
            let num = $($(orderItem).find('input[name="num"]').get(0)).val();
            siteIds.push(siteId);
            nums.push(num);
          });
          let goingdate = $($('#div').find('input[name="goingdate"]').get(0)).val();
          let leavingdate = $($('#div').find('input[name="leavingdate"]').get(0)).val();

          var formData = new FormData();
          formData.append('siteIds', siteIds);
          formData.append('nums', nums);
          formData.append('goingdate', goingdate);
          formData.append('leavingdate', leavingdate);
          formData.append('campID', campID);

          $.ajax({
            url: '/morari/admin/camp/insertOrder.controller',
            type: 'post',
            data: formData,
            contentType: false,
            cache: false,
            processData: false,
            success: function (after) {
              $(".errorsiteID").empty();
              $(".errornumbers").empty();
              $("#errordate").empty();
              $("#errornone").empty();

              console.log(after)
              if (after.error == 'true') {
                $(".errorsiteID").append(after.siteIds);
                $(".errornumbers").append(after.nums);
                $("#errordate").append(after.timeString);
                return;
              }
              else if (after.error == 'none') {
                $("#errornone").append(after.noData);
                return;
              }
              else {
                $("#div").empty();
                $("#div").append(after);
              }
            }
          });
        });
      });
    });
  </script>

</body>

</html>