<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新增</title>
</head>
<body>
	<h3>新增</h3>

	<form id="insert">
		會員id <input type="text" name="u" value='1' required>
		職缺 <input type="hidden" id="ii"> 
		<select name="job">
			<option value="廚師">廚師</option>
			<option value="廚助">廚助</option>
			<option value="房務員">房務員</option>
			<option value="會計">會計</option>
			<option value="櫃台">櫃台</option>
			<option value="假日工讀生">假日工讀生</option>
			<option value="行政管理人員">行政管理人員</option>
			<option value="夜班保全">夜班保全</option>
			<option value="其他">其他</option>
		</select>
		薪資 <input type="text" name="salary" required>
		人數 <input type="text" name="quantity" required>
		地點 <input type="text" name="place"  required>
		可上班日期 <input type="text" name="date" required>
		可上班時段 <input type="text" name="time" required>
<!-- 		上架日期 <input type="date" name="rackUp" value='${param.rackUp}'required> -->
		
		備註<textarea name="remark" cols="20" rows="5"></textarea>	
		<input id="send" type="button" value="送出"> 
		<input type="reset" value="取消">	
	</form>
	
	<form id=img>
	照片上傳 <input accept=".jpg,.pnp,.jfif" type="file" name="img" >
	</form>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$("#send").click(function(){
			var form = document.getElementById('insert');
			var formData = new FormData(form);
			console.log(formData);
			
			$.ajax({
			    type: "post",
			    url: "jobInsert.controller",
			    contentType: 'application/json',
			    data: JSON.stringify(formData),
			    success: function(response) {
			    	console.log(response);
			    	$("#insert").html(response.data);
			    }
			});
		});
	});

	</script>
</body>
</html>