<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                load(1);
            });
        });

        function load(indexPage) {
            $.getJSON('/morari/admin/camp/showAllOrders/' + indexPage, function (data) {
                $('#ordertable').empty();
                $('#changeP').empty();
                var ordertable = $('#ordertable');
                var ordertr = '';

                ordertable.append('<thead><th>訂單編號</th><th>營地名稱</th><th>城市名</th><th>圖片</th><th>地點</th><th>訂購者</th><th>訂購者信箱</th><th>成立時間</th><th>入營時間</th><th>離營時間</th><th>總金額</th></thead>');

                $.each(data["orderList"], function (i, oneorder) {
                    ordertr = '<tbody>'
                        + '<tr>'
                        + '<td>' + oneorder.orderID + '</td>'
                        + '<td>' + oneorder.camp.campName + '</td>'
                        + '<td>' + oneorder.camp.city.cityName + '</td>'
                        + '<td>' + '<img width="80" height="100" src="/morari/images/' + oneorder.camp.campPicturesPath + '">' + '</td>'
                        + '<td>' + oneorder.camp.location + '</td>'
                        + '<td>' + oneorder.userprofiles.username + '</td>'
                        + '<td>' + oneorder.userprofiles.email + '</td>'
                        + '<td>' + oneorder.orderTime + '</td>'
                        + '<td>' + oneorder.goingTime + '</td>'
                        + '<td>' + oneorder.leavingTime + '</td>'
                        + '<td>' + oneorder.totalPrice + '</td>'
                        + '<td><input type="button" value="明細展開" onclick="showOrderInfo(' + oneorder.orderID + ')"></td>'
                        + '</tr>'
                        + '<tr id="orderInfo' + oneorder.orderID + '" style="display : none;" ><td colspan="4">'
                        + '<table id="orderitemtable">'
                        + '<thead><th>營位名稱</th><th>圖片</th><th>單價</th><th>訂位數量</th></thead>';

                    $.each(oneorder.orderitems, function (i, orderitem) {
                        ordertr += '<tbody>'
                            + '<tr>'
                            + '<td>' + orderitem.site.siteName + '</td>'
                            + '<td>' + '<img width="80" height="100" src="/morari/images/' + orderitem.site.sitePicturesPath + '">' + '</td>'
                            + '<td>' + orderitem.unitPrice + '</td>'
                            + '<td>' + orderitem.numbers + '</td>'
                            + '</tr>'
                            + '</tbody>'
                    });

                    ordertr += '</table></td></tr></tbody>'
                    ordertable.append(ordertr);
                });

                var totalPages = data["totalPages"];
                var totalOrders = data["totalOrders"];

                var buttons = '';
                for (var i = 1; i <= totalPages; i++) {
                    buttons += '<button type="button" onclick="load(' + i + ')" value="' + i + '">' + i + '</button>'
                }

                var changeP = $('#changeP');
                var changetr = '';
                changetr = '<tr>'
                    + '<td>Total Pages:' + totalPages + 'Total Orders:' + totalOrders + '</td>'
                    + ' <td colspan="3" align="right">Previous'
                    + buttons
                    + 'Next'
                    + '</td>'
                    + '</tr>'
                changeP.append(changetr);

            });

        }

        function showOrderInfo(orderId) {
            var order = $('#orderInfo' + orderId);
            if (order.css("display") == "none") {
                order.css("display", "");
            } else {
                order.css("display", "none");
            }

        }

    </script>
</head>

<body>
    <table id="ordertable"></table>

    <table id="changeP"></table>
</body>

</html>