<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                var form = $('#form');
                var div = '';

                div = '入營時間<input type="date" name="date"><br>'
                    + '離營時間<input type="date" name="date"><br>'
                    + '<input id="send" type="button" value="新增">'
                form.append(div);
            });

            $('body').on('click', '#send', function () {
                var formData = new FormData(form);
                $.ajax({
                    url: '/morari/admin/camp/insertOrder.controller',
                    type: 'post',
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (after) {
                    }
                });
            });
        });
    </script>
</head>

<body>
    <form id="form" method="post"></form>
</body>

</html>