<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(document).ready(function () {
                var campID = JSON.parse(sessionStorage.getItem("campID"));
                $.getJSON('/morari/admin/camp/sitesOfCamp.controller/' + campID, function (data) {
                    var div = $('#div');
                    var tmp = '';
                    div.append('<div><span>營位區編號</span><span>營位區名</span><span>營區位圖片</span><span>總營位</span><span>營位金額</span></div>');
                    $.each(data, function (i, n) {
                        tmp = '<div id="order' + n.siteID + '">'
                            + '<span name="siteID">' + n.siteID + '</span>'
                            + '<span>' + n.siteName + '</span>'
                            + '<span>' + '<img width="80" height="100" src="/morari/images/' + n.sitePicturesPath + '">' + '</span>'
                            + '<span>' + n.totalSites + '</span>'
                            + '<span name="unitPrice">' + n.siteMoney + '</span>'
                            + '<span name="numbers">預約數量</span><input name="num" type="number" min="0" step="1" value="0"><span>'
                            + '</div>'
                        div.append(tmp);
                    });
                    div.append('<span>入營時間:<input type="date" name="goingdate"></span>');
                    div.append('<span>離營時間:<input type="date" name="leavingdate"></span><br>');
                    div.append('<button id="addOrder">結帳</button>');
                })


                $('body').on('click', '#addOrder', function () {
                    let siteIds = [];
                    let nums = [];
                    let orderItems = $('div[id^="order"]');
                    $.each(orderItems, function (index, orderItem) {
                        let siteId = $($(orderItem).find('span[name="siteID"]').get(0)).text();
                        let num = $($(orderItem).find('input[name="num"]').get(0)).val();
                        siteIds.push(siteId);
                        nums.push(num);
                    });
                    let goingdate = $($('#div').find('input[name="goingdate"]').get(0)).val();
                    let leavingdate = $($('#div').find('input[name="leavingdate"]').get(0)).val();

                    var formData = new FormData();
                    formData.append('siteIds', siteIds);
                    formData.append('nums', nums);
                    formData.append('goingdate', goingdate);
                    formData.append('leavingdate', leavingdate);
                    formData.append('campID', campID);

                    $.ajax({
                        url: '/morari/admin/camp/insertOrder.controller',
                        type: 'post',
                        data: formData,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (after) {
                            $("#div").empty();
                            $("#div").append(after);
                            // var ordertable = $('#ordertable');
                            // var ordertr = '';

                            // alert("新增訂單成功");

                            // ordertable.append('<thead><th>訂單編號</th><th>營地名稱</th><th>城市名</th><th>圖片</th><th>地點</th><th>訂購者</th><th>訂購者信箱</th><th>成立時間</th><th>入營時間</th><th>離營時間</th><th>總金額</th></thead>');
                            // ordertr = '<tbody>'
                            //     + '<tr>'
                            //     + '<td>' + after.orderID + '</td>'
                            //     + '<td>' + after.camp.campName + '</td>'
                            //     + '<td>' + after.camp.city.cityName + '</td>'
                            //     + '<td>' + '<img width="80" height="100" src="/morari/images/' + after.camp.campPicturesPath + '">' + '</td>'
                            //     + '<td>' + after.camp.location + '</td>'
                            //     + '<td>' + after.userprofiles.username + '</td>'
                            //     + '<td>' + after.userprofiles.email + '</td>'
                            //     + '<td>' + after.orderTime + '</td>'
                            //     + '<td>' + after.goingTime + '</td>'
                            //     + '<td>' + after.leavingTime + '</td>'
                            //     + '<td>' + after.totalPrice + '</td>'
                            //     + '</tr>'
                            //     + '</tbody>'
                            // ordertable.append(ordertr);
                            // $('#hr').append('<hr>');

                            // var orderitemtable = $('#orderitemtable');
                            // var orderitemtr = '';

                            // ordertable.append('<thead><th>營位名稱</th><th>圖片</th><th>單價</th><th>訂位數量</th></thead>');

                            // $.each(after.orderitems, function (i, orderitem) {
                            //     orderitemtr = '<tbody>'
                            //         + '<tr>'
                            //         + '<td>' + orderitem.site.siteName + '</td>'
                            //         + '<td>' + '<img width="80" height="100" src="/morari/images/' + orderitem.site.sitePicturesPath + '">' + '</td>'
                            //         + '<td>' + orderitem.unitPrice + '</td>'
                            //         + '<td>' + orderitem.numbers + '</td>'
                            //         + '</tr>'
                            //         + '</tbody>'
                            //     orderitemtable.append(orderitemtr);

                            // });

                        }
                    });

                });
            });
        });


    </script>
</head>

<body>
    <div id="div"></div>
</body>

</html>